.index {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  
}

.index img{
    width: 300px;
    height: auto;
    margin: 10px;
    
  }

.index-text{
    text-align: center;
    margin-top: 75px;
}

@media screen and (max-width: 768px) {
  .index {
    width:80%;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .index img{
      margin-bottom: 30px;
      max-width: 390px;
  }
}
