{% extends "user/base.html" %} 

{% block title %} 공공의 맛 {% endblock %} 


{%block content %}

<div
  style="display: flex; flex-direction: column; height: 80vh"
  class="mt-2 mx-3"
>
  {% if user.is_authenticated %}
  <ul class="menu">
    <li><a class="btn" href="{% url 'user:grouplist' %}">그룹목록</a></li>
    <li><a class="btn" href="{% url 'user:search' %}">친구목록</a></li>
  </ul>
  <div style="padding:4px 15px">
  <form class="form-line my-2" action="{% url 'user:search' %}" method="get">
    {% csrf_token %}
    <div
      style="max-width: 25rem"
      class="input-group md-form form-sm form-2 pl-0"
    >
      <input
        class="form-control my-0 py-1 red-border"
        type="search"
        placeholder="추가할 친구의 이메일을 입력하세요"
        aria-label="Search"
        name="q"
        required
      />
      <div class="input-group-append">
        <button
          class="input-group-text red lighten-3"
          id="basic-text1"
          type="submit"
        >
          <i class="fas fa-search text-grey" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>

  {% if query %}
  <div style="max-width:25rem; border: 1px solid #ced4da; padding: 15px 25px;">
    <p>{{ query }} 검색결과</p>
    <ul>
      {% for user_p in users %}
      <li class="profile result">
        <img
          src="{{user_p.profile.image.url}}"
        />
        <div class="profile_text">
          <p>{{ user_p }}</p>
          <p>{{ user_p.profile.message }}</p>
          
        </div>
        <div>
            {% if button_status == 'not_friend' %}
            <small
              ><a
                class="btn btn-primary"
                href="{% url 'user:send_friend_request' id=user_p.id %}"
                >친구 요청</a
              ></small
            >
            {% elif button_status == 'friend_request_sent' %}
            <small
              ><a
                class="btn btn-warning"
                href="{% url 'user:cancel_friend_request' id=user_p.id %}"
                >요청 취소</a
              ></small
            >
            {% endif %}
          </div>
      </li>
      
      {% empty %}
      <p>검색결과 없습니다</p>
      {% endfor %}
    </ul>
  </div>
  {% endif %}


  <div style="max-width: 100%" class="row">
    {% for friend in friends_list %}
    <div class="card col-sm-6 col-md-4 mx-3 my-3">
      <li class="profile">
        <img src="{{friend.image.url}}"/>
        <div class="profile_text">
          <div>{{friend}}</div>
          <div>{{friend.message}}</div>
        </div>
      </li>
    </div>
    {% empty %}
    <div style="padding: 25px;">
      <p>등록된 친구가 없습니다</p>
      <p>친구를 추가하여 여행일정을 공유해보세요</p>
    </div>
    {% endfor %}
  </div>
  
  </div>

  {% else %} {% endif %}
</div>

{% endblock %}
