{% extends "user/base.html" %} 

{% block title %} 공공의 맛 {% endblock %} 

{% block content %}
<div
  style="display: flex; flex-direction: column; height: 80vh"
  class="my-5 ml-3"
>
  {% if user.is_authenticated %}
  <ul>
    <li><a href="{% url 'user:grouplist' %}">그룹목록</a></li>
    <li><a href="{% url 'user:search' %}">친구목록</a></li>
  </ul>

  <form class="form-line my-2" action="{% url 'user:search' %}" method="get">
    {% csrf_token %}
    <div
      style="max-width: 25rem"
      class="input-group md-form form-sm form-2 pl-0"
    >
      <input
        class="form-control my-0 py-1 red-border"
        type="search"
        placeholder="추가할 친구의 이메일을 입력하세요"
        aria-label="Search"
        name="q"
        required
      />
      <div class="input-group-append">
        <button
          class="input-group-text red lighten-3"
          id="basic-text1"
          type="submit"
        >
          <i class="fas fa-search text-grey" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </form>

  {% if query %}
  <p>{{ query }} 검색결과</p>
  <ul>
    {% for user_p in users %}
    <li>
      <a href="#">{{ user_p }}</a>
      <div>{{ user_p.message }}</div>
      <div>
        {% if button_status == 'not_friend' %}
        <small
          ><a
            class="btn btn-primary"
            href="{% url 'user:send_friend_request' id=user_p.id %}"
            >Add Friend</a
          ></small
        >
        {% elif button_status == 'friend_request_sent' %}
        <small
          ><a
            class="btn btn-warning"
            href="{% url 'user:cancel_friend_request' id=user_p.id %}"
            >Cancel Request</a
          ></small
        >
        {% endif %}
      </div>
    </li>
    {% empty %}
    <p>검색결과 없습니다</p>
    {% endfor %}
  </ul>
  {% endif %} 
  
    {% for friend in friends_list %}
      <li>
        <img src="{{friend.image.url}}" style="width:10rem; height:10rem; border-radius:10rem; margin:1rem 0">
        <div>{{friend}}</div>
        <div>{{friend.message}}</div>
      </li>
    {% empty %}
      <p>친구 없음</p>
    {% endfor %}


  {% else %} 
  {% endif %}
</div>

{% endblock %}
