{% extends "user/base.html" %} 

{% block title %} 공공의 맛 - 마이페이지 {% endblock %} 

{% block content %}
{% if user.is_authenticated %}
<h4 class="title" style="text-align: center; margin: 60px 0">마이페이지</h4>
<div class="mypage">
   {% if request.user == u %}
  <div class="mypage-user">
    <img
      src="{{u.profile.image.url}}"
      style="width: 10rem; height: 10rem; border-radius: 10rem; margin: 1rem 0"
    />
    <p>{{ u.email }}</p>
    <h6>{{u.profile.message}}</h6>
    <a href="{% url 'user:profile_update' pk=u.profile.pk %}"
      >프로필 수정하기</a
    >
  </div>
  <div class="notice">
    <h5>보낸 친구 요청</h5>
    <ul>
      {% for s_request in sent_friend_requests %}
      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 1rem;
          padding: 20px;
        "
      >
        <li>{{ s_request.to_user.username }}</li>
        <small>
          <a
            class="btn btn-warning"
            href="{% url 'user:cancel_friend_request' id=s_request.to_user.id %}"
            >요청 취소
          </a>
        </small>
      </div>
      {% empty %}
      <a
        style="margin-top: 1rem; padding: 20px; display: flex"
        href="{% url 'user:search' %}"
      >
        친구 요청하기</a
      >
      {% endfor %}
    </ul>
    <div style="border: 1px solid #f8f9fa; margin: 30px 0"></div>
    <h5>받은 친구 요청</h5>
    {% for r_request in rec_friend_requests %}
    <div>
      <!--
		<img src="{{r_request.from_user.profile.image.url}}">
		-->
      <div style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 1rem;
          padding: 20px;
        ">
        <p>{{ r_request.from_user.username }}</p>
        <div>
          <small
            ><a
              class="btn btn-primary"
              href="{% url 'user:accept_friend_request' id=r_request.from_user.id %}"
              >수락</a
            ></small
          >
          <small
            ><a
              class="btn btn-warning"
              href="{% url 'user:delete_friend_request' id=r_request.from_user.id %}"
              >거절</a
            ></small
          >
        </div>
        {% empty %}
        <p style="margin-top: 1rem; padding: 20px; display: flex">
          요청이 없습니다
        </p>
        {% endfor %} {% else %} {% endif %}
      </div>
    </div>
  </div>
</div>
<form class="logout" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %} {% if redirect_field_value %}
      <input
        type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}"
      />
      {% endif %}
      <button type="submit" class="btn btn-secondary">로그아웃</button>
    </form>
	{% else %} {% endif %} {% endblock %}